.AccountsPageBackgroundBox {
    display: flex;
    flex-direction: column;

    width: 350px;
    height: fit-content;

    padding: 30px;
    margin: 0 auto;

    align-items: center;
    justify-content: center;

    background-color: #313536;
    border-radius: 10px;

    >form {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 15px;
    }

    >.AccountPageTitle {

        background-color: #81BBC9;
        border: 2px solid #81BBC9;

        height: fit-content;
        width: 280px;
        text-align: center;

        font-size: x-large;
        font-weight: 500;
        font-family: "Inria Sans";
        padding: 2px;
        margin: 0 auto;
    }


}

.AuthenticationInputBox {
    height: 36px;
    width: 280px;
    padding: 5px;

}

label {
    font-family: "Inria Sans";
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: large;
    justify-content: flex-start;
    gap: 2px;

}

.SubmissionBtn {
    padding: 10px;
    font-weight: 500;
    font-size: large;
    margin: 10px;
    background-color: #FFDF22;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.CheckboxText {
    font-size: small;
    margin: 10px;

    >a {
        color: #81BBC9;
    }
}

.SwitchingBTN {
    border: none;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;

    text-decoration: underline;
    font-size: small;

    margin-top: -15px;
    color: #81BBC9;

}

.Switching {
    margin: -5px;
}



.AccountsBoxContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
}

.ErrorMSG{
    color: white;
    width: 100%;
    text-align: center;

    -webkit-text-stroke: 1px black;
    paint-order: stroke fill;
}