.HealthAdviceBox{
    background-color: #313536;
    height: fit-content;
    width: 425px;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;

    font-family: "Inria Sans";
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    transform: scale(0.85);


    >a{
        text-decoration: none;
        color: black;
        padding: 10px;
        font-size: larger;
        margin: 0 auto;
        background-color:  #FFDF22;
    }
}

.HealthAdviceBoxTitle{
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
}

@media only screen and (max-width: 452px) {
    .HealthAdviceBox{
        background-color: #313536;
    height: fit-content;
    width: 250px;
    margin: 25px;
    padding: 20px;

    font-family: "Inria Sans";
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    }
}