.BackgroundImageHomePage {
    mix-blend-mode: lighten;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    border: 2px solid pink;
}

.HomeContent {
    z-index: 4;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    

}

.HealthPageTitle {
    width: 100%;
    padding-top: 125px;
    height: fit-content;

    margin: 0 auto;
    text-align: center;
    font-size: xx-large;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    color: white;
}

.LocationSelector {
    
}