.BackgroundImageHomePage {
    mix-blend-mode: lighten;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.HomeContent {
    z-index: 4;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    height: 100%;


}

.HealthPageTitle {
    width: 100%;
    height: fit-content;

    margin: 0 auto;
    text-align: center;
    font-size: xx-large;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    color: white;
}


/* Makes a page responsive */
@media only screen and (max-width: 636px) {
    .HomeContent {
        margin: 0 16px;
    }
}