.HealthAdviceBox{
    background-color: #313536;
    height: auto; /* safer than fit-content */
    width: 500px;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;

    font-family: "Inria Sans";
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* remove transform: scale(0.85) for better rendering */
}

/* Child elements */
.HealthAdviceBox > a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: larger;
    margin: 0 auto;
    background-color:  #FFDF22;
}

.HealthAdviceBox > p {
    font-size: larger;
}

.HealthAdviceBox > h3 {
    font-size: x-large;
}

.HealthAdviceBoxTitle{
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
}

/* Responsive for small screens */
@media only screen and (max-width: 452px) {
    .HealthAdviceBox{
        width: 250px;
        padding: 20px;
        gap: 5px;
    }
}
