#root {

    display: flex;

    flex-direction: column;

    min-height: 100vh;

    width: 100%;

    background-color: #81BBC9;
}

.Main-Content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
}