.FooterBox {
    width: 100%;
    height: auto;
    min-height: 120px;

    background-color: #313536;
    z-index: 1000;
    padding-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.FooterBox > h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.FooterBox .textLine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.FooterBox .textLine3 {
    align-self: center;
}

.FooterBox .Linkarea1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterBox a,
.FooterBox .LinkText {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 335px) {
    .FooterBox {
        font-size: x-small;
    }
}
