.ForecastContainer {
    margin: 25px;
    border-radius: 15px;

    width: 90dvw;
    height: 20dvh;

    max-width: 1200px;
    max-height: fit-content;

    min-height: fit-content;
    gap: 20px;
    padding: 10px;
    background-color: #313536;

    display: flex;
    flex-direction: column;
    align-items: baseline;

}


.WeatherBoxDaily {
    background-color: rgb(129, 187, 201);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;


    height: fit-content;
    width: fit-content;
    min-width: 100px;
    


    >h3 {
        -webkit-text-stroke: 2px black;
        paint-order: stroke fill;
        color: white;
    }

}

.WeatherIcon {
    height: 70px;
    width: 70px;
}

.WeeklyForecast {
    display: flex;
    height: fit-content;
    width: 100%;
    max-height: 50%;
    min-height: fit-content;

    justify-content: space-evenly;
    padding: 10px 0px;

}

.HourlyForecast {
    display: flex;
    height: fit-content;
    width: 100%;
    max-height: 50%;
    min-height: fit-content;


    justify-content: space-evenly;
    padding: 10px 0px;


}

@media only screen and (max-width: 973px) {
    .ForecastContainer {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        



        >.WeeklyForecast {
            gap: 50px;
            width: fit-content;

            align-items: center;
        }

        .HourlyForecast {
            gap: 25px;
            width: fit-content;

            justify-content: center;
        }
    }
}