

.HealthPageTitle {
    width: 100%;
    
    padding-top: 125px;
    height: fit-content;

    margin: 0 auto;
    text-align: center;
    font-size: xx-large;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    color: white;
}


.ContentsBox {
    width: 300px;
    height: 300px;
    background-color: #313536;
    position: fixed;
    text-align: center;
    color: white;
    border-radius: 10px;
    z-index: 1;
    top: 35dvh;

    display: flex;
    flex-direction: column;

    >a{
        font-size: large;
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
        color: #0000EE;
        
    }
    
    
    
    

}

.ContentBoxArea {
    width: 50%;
    height: 100%;
    justify-items: center;
    align-items: center;

    

}

.HealthAdvicePageContent {
    display: flex;
    position: relative;

}

.ArticlesSection {
    height: fit-content;
    width: 50%;
    
    justify-items: center;
    align-items: center;
    margin-top: -25px;

    margin-right: 75px;

}


@media only screen and (max-width: 810px){
    .ContentBoxArea{
        display: none;
    }

    .ArticlesSection{
        margin: 0 auto;
    }
}


.UsefulLinkButton{
    
}