.dropdown {
    display: inline-block;

}

.dropdown button {
    background-color: #FFDF22;
    border-radius: 10px;
    color: black;
    font-family: "inter";
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;

    width: 325px;
    height: 50px;
    font-size: x-large;


}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    font-family: "inter";
    width: 325px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;

    text-align: center;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: #FFDF22;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);

    border-radius: 10px;
}

.dropdown:hover .content {
    display: block;

}

.dropdown a:hover {
    background-color: #ffffff;
}