.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: #FFDF22;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;

    width: 450px;
    height: 50px;
    font-size: x-large;
    
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: #FFDF22;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    
    border-radius: 10px;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: #FFDF22;
}

.dropdown a:hover {
    background-color: #FFDF22;
}