.FooterBox {
    height: fit-content;
    width: 100vw;

    background-color: #313536;
    z-index: 1000;
    margin-top: 32px;

    >h2 {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        justify-self: center;
    }

    .textLine {
        display: flex;
    }

    .textLine3 {
        justify-self: center;
    }

    .Linkarea1 {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;

    }

    >link {
        color: rgb(255, 255, 255);
    }

    .LinkText {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@media only screen and (max-width: 335px) {
    .FooterBox {
        font-size: x-small;
    }
}