.MobileHeaderBox {
    top: 0;
    left: 0;
    right: 0;

    height: 125px;
    min-width: 100%;
    background-color: #313536;

    display: flex;
    position: fixed;
    align-items: center;

    z-index: 1000;

}

.headerLogo {
    height: 80%;
    margin-right: auto;
    margin: 15px;

    border: 1px solid black;
}

.NavButtonsforMobile {

    position: fixed;
    top: 125px;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 120px;

    background-color: rgba(0, 0, 0, 0.7);
    height: calc(100vh - 125px);
    width: 100vw;

    gap: 50px;
    z-index: 100;
    >li {
        list-style-type: none;
    }

    .NavBtn {
        border: 2px solid #FFDF22;
        background-color: #FFDF22;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        padding: 10px;
        margin: 25px;

        font-family: "Inria Sans";
        font-size: x-large;

    }
}

@media only screen and (min-width: 621px) {
    .MobileHeaderBox {
        display: none;
    }
}


.menu-icon {
    transition: transform 0.3s ease-in-out;
    margin-left: auto;
    padding: 25px;
}

.menu-icon.open {
    transform: rotateZ(45deg);

}